
<h2>Pay Your Bill Online</h2>
<br />
<p>Here you can pay your bill online, sign up for automatic payments, or enroll in paperless billing.</p>

<br />

<button class="btn btn-success">Pay Bill</button>
<button class="btn btn-success">Auto Payments</button>
<button class="btn btn-success">Paperless Billing</button>