
<h2>Contact Information</h2>
<h3>Thank you for your interest in contacting Acme Auto Insurance</h3>

<address>
    310 SW 4th Avenue<br />
    Suite 412<br />
    Portland, OR 97204<br />
    <abbr title="Phone">P:</abbr>
    503.206.6915
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Contact@Acmeauto.com</a><br />
    <strong>Information:</strong> <a href="mailto:Marketing@example.com">Info@Acmeauto.com</a>
</address>