<div class="jumbotron">
    <h1>Acme Auto Insurance</h1>
    <p class="lead">The best auto insurance company in the Pacific Northwest!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Learn more about our company and what makes it the right choice for you!
        </p>
        <p><a class="btn btn-success" href="~/home/about">About Us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Start Your Quote</h2>
        <p>
            Ready to take the next steps to great auto insurance? Enter your information
            and recieve an instant quote now!
        </p>
        <p><a class="btn btn-success" href="~/quote/index">Begin Quote &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pay Your Bill</h2>
        <p>
            You can now pay your bill online! Make life easier with our hassle free online payment option.
            Choose to go paperless or even enroll in automatic payments.
        </p>
        <p><a class="btn btn-success" href="~/home/billpay">Pay Now &raquo;</a></p>
    </div>
</div>

